# App details
NAME=
COPYRIGHT=

# Database where products are loaded from (for runtime)
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Database credentials (for migrations with drizzle-kit)
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=dbname
DB_USER=user
DB_PASSWORD=password

# CDN where product images are loaded from
IMAGE_PATH=

# Admin authentication
ADMIN_PASSWORD=