# App details
NAME=
COPYRIGHT=

# Database where products are loaded from
DB_USER=postgres
DB_HOST=
DB_DATABASE=products
DB_PASSWORD=
DB_PORT=5432

# CDN where product images are loaded from
IMAGE_PATH=